# General x86 virtualization and hardware support.
CONFIG_KVM=m
CONFIG_KVM_INTEL=m
CONFIG_KVM_AMD=m
CONFIG_VHOST_NET=m
CONFIG_VHOST_VSOCK=m
CONFIG_VHOST_SCSI=m
CONFIG_TARGET_CORE=m
CONFIG_VFIO=m
CONFIG_VFIO_PCI=m
CONFIG_VFIO_PCI_CORE=m
CONFIG_IOMMU_SUPPORT=y
CONFIG_AMD_IOMMU=y
CONFIG_AMD_HSMP=m
CONFIG_AMD_HSMP_ACPI=m
CONFIG_AMD_HSMP_PLAT=m
CONFIG_SENSORS_K10TEMP=m
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_HIDRAW=y
CONFIG_USB_HID=m
