[Unit]
After=network.target sshd-keygen.service
Description=OpenSSH Daemon
Requires=sshd-keygen.service

[Service]
Environment="PATH=/nix/store/zpzxzkj2m18xcdnv82fq870mjb4x54d3-coreutils-9.5/bin:/nix/store/rwd094cc19w6kq3hw035lvswcaydxz70-findutils-4.10.0/bin:/nix/store/mfwrbd36346z7h5vfz2qnvdrq3a9xsmg-grep-3.11/bin:/nix/store/m8ii1f2w43mqbax78y5daxabf6cgv3sx-sed-4.9/bin:/nix/store/z3xzkyz89bjq8d7h57b4hr6pcy3kfw78-systemd-259.1/bin:/nix/store/zpzxzkj2m18xcdnv82fq870mjb4x54d3-coreutils-9.5/sbin:/nix/store/rwd094cc19w6kq3hw035lvswcaydxz70-findutils-4.10.0/sbin:/nix/store/mfwrbd36346z7h5vfz2qnvdrq3a9xsmg-grep-3.11/sbin:/nix/store/m8ii1f2w43mqbax78y5daxabf6cgv3sx-sed-4.9/sbin:/nix/store/z3xzkyz89bjq8d7h57b4hr6pcy3kfw78-systemd-259.1/sbin"
ExecReload=/nix/store/zpzxzkj2m18xcdnv82fq870mjb4x54d3-coreutils-9.5/bin/kill -HUP $MAINPID
ExecStart=/nix/store/fmfwv562w9mhcxpbs1s60v4ld6cjdl3k-openssh-10.3p1/sbin/sshd -D -f /etc/ssh/sshd_config
KillMode=process
Restart=on-failure
RestartSec=5s
RuntimeDirectory=sshd
RuntimeDirectoryMode=0755
Type=notify

[Install]
WantedBy=multi-user.target
