[Unit]
After=local-fs.target aos-config-seed.service
Before=aos-host-config-restore.service aos-eval.service multi-user.target
Description=Persist provisioning evidence and manual repart definitions
Requires=local-fs.target

[Service]
Environment="PATH=/nix/store/fz9lrsrqpxhzmkhrbqzndjkh3fl9pygg-coreutils-9.5/bin:/nix/store/z5ydjk898pi7gz5gsdg8wfjwc4gl3bjv-findutils-4.10.0/bin:/nix/store/4zjrri4rqijr7s5jd1796a56vxfa37z0-grep-3.11/bin:/nix/store/j1pcpd7inhi6vkpdd3hmyc85ilss1hir-sed-4.9/bin:/nix/store/m58yqnq046yq05x3800az9qls9qwrdnh-systemd-259.1/bin:/nix/store/fz9lrsrqpxhzmkhrbqzndjkh3fl9pygg-coreutils-9.5/sbin:/nix/store/z5ydjk898pi7gz5gsdg8wfjwc4gl3bjv-findutils-4.10.0/sbin:/nix/store/4zjrri4rqijr7s5jd1796a56vxfa37z0-grep-3.11/sbin:/nix/store/j1pcpd7inhi6vkpdd3hmyc85ilss1hir-sed-4.9/sbin:/nix/store/m58yqnq046yq05x3800az9qls9qwrdnh-systemd-259.1/sbin"
ExecStart=<<aos-job-script>>
#!/nix/store/inkxqwa69sgkj934172yi7bwv97l726g-bash-5.2.37/bin/bash
set -e

/nix/store/azkmyl7hh0vqyk0l4b5sjjniwda4nm4f-aos-0.1.0/bin/aos metadata persist-provisioning \
  --state-dir /var/lib/aos-provisioning \
  --module-abi 1 \
  --image-version 0.1.0
<<aos-job-script-end>>
RemainAfterExit=true
StateDirectory=aos-provisioning
StateDirectoryMode=0700
Type=oneshot

[Install]
WantedBy=multi-user.target
