# ANDYL OS — Cloud platform drivers

# Xen
CONFIG_XEN=y
CONFIG_XEN_PV=y
CONFIG_XEN_PVHVM=y
CONFIG_XEN_PVHVM_SMP=y
CONFIG_XEN_BLKDEV_FRONTEND=m
CONFIG_XEN_NETDEV_FRONTEND=m
CONFIG_XEN_SCSI_FRONTEND=m
CONFIG_XEN_BALLOON=y
CONFIG_XEN_GRANT_DEV_ALLOC=m

# Hyper-V
CONFIG_HYPERV=y
CONFIG_HYPERV_UTILS=y
CONFIG_HYPERV_BALLOON=m
CONFIG_HYPERV_STORAGE=m
CONFIG_HYPERV_NET=m
CONFIG_HYPERV_KEYBOARD=m
CONFIG_PCI_HYPERV=y
CONFIG_PCI_HYPERV_INTERFACE=y

# AWS (ENA)
CONFIG_ENA_ETHERNET=m

# Google Cloud (gVNIC)
CONFIG_GVNIC=m
