# ANDYL OS — Bare metal / physical server drivers

# SATA / AHCI
CONFIG_SATA_AHCI=y
CONFIG_SATA_AHCI_PLATFORM=m

# RAID controllers
CONFIG_MEGARAID_SAS=m
CONFIG_MEGARAID_LEGACY=m
CONFIG_MEGARAID_NEWGEN=y
CONFIG_MEGARAID_MM=m
CONFIG_MEGARAID_MAILBOX=m
CONFIG_SCSI_HPSA=m
CONFIG_SCSI_SMARTPQI=m
CONFIG_SCSI_MPT3SAS=m
CONFIG_SCSI_AACRAID=m

# Network interface cards
CONFIG_E1000=m
CONFIG_E1000E=m
CONFIG_IGB=m
CONFIG_IXGBE=m
CONFIG_I40E=m
CONFIG_ICE=m
CONFIG_MLX4_EN=m
CONFIG_MLX4_CORE=m
CONFIG_MLX5_CORE=m
CONFIG_MLX5_CORE_EN=y
CONFIG_BNX2=m
CONFIG_BNX2X=m
CONFIG_BNXT=m
CONFIG_TIGON3=m
CONFIG_BE2NET=m
CONFIG_QEDE=m

# IPMI (server management)
CONFIG_IPMI_HANDLER=m
CONFIG_IPMI_DEVICE_INTERFACE=m
CONFIG_IPMI_SI=m
CONFIG_IPMI_SSIF=m
CONFIG_IPMI_WATCHDOG=m
CONFIG_IPMI_POWEROFF=m

# Watchdog
CONFIG_WATCHDOG=y
CONFIG_ITCO_WDT=m
CONFIG_SOFTDOG=m

# PCI device assignment and AMD IOMMU isolation
CONFIG_IOMMU_SUPPORT=y
CONFIG_AMD_IOMMU=y
CONFIG_VFIO=m
CONFIG_VFIO_PCI=m
CONFIG_VFIO_PCI_CORE=m

# Serial
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y

# USB
CONFIG_USB=y
CONFIG_USB_STORAGE=m
CONFIG_USB_UAS=m # USB3 thumb drives support
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_XHCI_HCD=y
