# ANDYL OS — VM / hypervisor specific drivers

# VirtIO extras
CONFIG_VIRTIO_BALLOON=m
CONFIG_VIRTIO_INPUT=m
CONFIG_VIRTIO_CRYPTO=m
CONFIG_VIRTIO_FS=m
CONFIG_VIRTIO_PMEM=m
CONFIG_VIRTIO_VSOCKETS=m

# VMware
CONFIG_VMWARE_VMCI=m
CONFIG_VMWARE_PVSCSI=m
CONFIG_VMXNET3=m
CONFIG_DRM_VMWGFX=m

# QEMU guest agent support
CONFIG_VIRTIO_CONSOLE=y
