# General runtime facilities provided by the system kernel.
CONFIG_BINFMT_MISC=y
CONFIG_ZRAM=m
CONFIG_ZSMALLOC=m
CONFIG_ZRAM_BACKEND_ZSTD=y
CONFIG_ZRAM_DEF_COMP_ZSTD=y

# OCI runtimes require cpu.max for Kubernetes CPU quotas and periods.
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
