[Unit]
After=local-fs.target aos-seed-baked-packages.service aos-install-baked-packages.service
Before=multi-user.target
ConditionPathExists=/etc/aos/policy.toml
Description=Load AOS fleet BPF-LSM policies

[Service]
Environment="PATH=/nix/store/fz9lrsrqpxhzmkhrbqzndjkh3fl9pygg-coreutils-9.5/bin:/nix/store/z5ydjk898pi7gz5gsdg8wfjwc4gl3bjv-findutils-4.10.0/bin:/nix/store/4zjrri4rqijr7s5jd1796a56vxfa37z0-grep-3.11/bin:/nix/store/j1pcpd7inhi6vkpdd3hmyc85ilss1hir-sed-4.9/bin:/nix/store/m58yqnq046yq05x3800az9qls9qwrdnh-systemd-259.1/bin:/nix/store/fz9lrsrqpxhzmkhrbqzndjkh3fl9pygg-coreutils-9.5/sbin:/nix/store/z5ydjk898pi7gz5gsdg8wfjwc4gl3bjv-findutils-4.10.0/sbin:/nix/store/4zjrri4rqijr7s5jd1796a56vxfa37z0-grep-3.11/sbin:/nix/store/j1pcpd7inhi6vkpdd3hmyc85ilss1hir-sed-4.9/sbin:/nix/store/m58yqnq046yq05x3800az9qls9qwrdnh-systemd-259.1/sbin"
AmbientCapabilities=
CapabilityBoundingSet=CAP_BPF CAP_SYS_ADMIN CAP_SYS_RESOURCE
DevicePolicy=closed
ExecStart=/nix/store/azkmyl7hh0vqyk0l4b5sjjniwda4nm4f-aos-0.1.0/bin/apm _load-ebpf-lsm-policies --system
ExecStartPre=/nix/store/b9rmcxc61q7smck6zpcn250if7ijwmx9-aos-prepare-ebpf-lsm-bpffs/bin/aos-prepare-ebpf-lsm-bpffs
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=true
NoNewPrivileges=false
PrivateDevices=true
PrivateNetwork=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/sys/fs/bpf
RemainAfterExit=true
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service mount umount2 bpf
Type=oneshot

[Install]
WantedBy=multi-user.target
