[Unit]
After=local-fs.target systemd-tmpfiles-setup.service dbus.socket
Description=D-Bus System Message Bus
Requires=dbus.socket systemd-tmpfiles-setup.service
X-ReloadIfChanged=true

[Service]
Environment="PATH=/nix/store/<HASH>-coreutils-9.5/bin:/nix/store/<HASH>-findutils-4.10.0/bin:/nix/store/<HASH>-grep-3.11/bin:/nix/store/<HASH>-sed-4.9/bin:/nix/store/<HASH>-systemd-259.1/bin:/nix/store/<HASH>-coreutils-9.5/sbin:/nix/store/<HASH>-findutils-4.10.0/sbin:/nix/store/<HASH>-grep-3.11/sbin:/nix/store/<HASH>-sed-4.9/sbin:/nix/store/<HASH>-systemd-259.1/sbin"
ExecReload=/nix/store/<HASH>-dbus-1.14.10/bin/dbus-send --print-reply --system --type=method_call --dest=org.freedesktop.DBus / org.freedesktop.DBus.ReloadConfig
ExecStart=/nix/store/<HASH>-dbus-1.14.10/bin/dbus-daemon --address=systemd: --nofork --nopidfile --systemd-activation --config-file=/nix/store/<HASH>-aos-dbus-1/system.conf
NotifyAccess=main
OOMScoreAdjust=-900
Restart=on-failure
RestartSec=5s
RuntimeDirectory=dbus
RuntimeDirectoryMode=0755
Type=notify

[Install]
Alias=messagebus.service
WantedBy=multi-user.target
